<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="http://localhost:3000/styles.css">
</head>
<body>
  <div class="window">
    <div class="title-bar">
      <span class="title">
        <span class="s">S</span><span class="u">u</span><span class="p">p</span><span class="e">e</span><span class="r">r</span>
        <span class="s">S</span><span class="u">h</span><span class="p">o</span><span class="e">p</span><span class="r">p</span><span class="s">i</span><span class="u">n</span><span class="p">g</span>
        <span class="s">S</span><span class="u">i</span><span class="p">m</span><span class="e">u</span><span class="r">l</span><span class="s">a</span><span class="u">t</span><span class="p">o</span><span class="e">r</span>
      </span>
    </div>
    <div class="content">
      <h1>REGISTER</h1>
      <form method="POST" action="/register">
        <label for="first_name">First Name:
          <input type="text" placeholder="Person" name="first_name" id="first_name">
        </label>
        <label for="last_name">Last Name:
          <input type="text" placeholder="Doe" name="last_name" id="last_name">
        </label>
        <label for="phone">Phone:
          <input type="text" placeholder="123-456-7890" name="phone" id="phone">
        </label>
        <label for="email">Email:
          <input type="email" placeholder="example@store.com" name="email" id="email">
        </label>
        <label for="password">Password:
          <input type="password" placeholder="" name="password" id="password">
        </label>

        <div class="membership-options">
          <p>Membership Type:</p>
          <div class="radio-group">
            <label for="basic">
              <input type="radio" id="basic" name="membership" value="1" checked>
              Basic
            </label>
            <label for="gold">
              <input type="radio" id="gold" name="membership" value="2">
              Gold
            </label>
            <label for="platinum">
              <input type="radio" id="platinum" name="membership" value="3">
              Platinum
            </label>
          </div>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>