<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super Shopping Simulator</title>
  <link rel="stylesheet" href="http://localhost:3000/styles.css">
</head>
<body>
  <div class="window">
    <div class="title-bar">
      <span class="title">
        <span class="s">S</span><span class="u">u</span><span class="p">p</span><span class="e">e</span><span class="r">r</span>
        <span class="s">S</span><span class="u">h</span><span class="p">o</span><span class="e">p</span><span class="r">p</span><span class="s">i</span><span class="u">n</span><span class="p">g</span>
        <span class="s">S</span><span class="u">i</span><span class="p">m</span><span class="e">u</span><span class="r">l</span><span class="s">a</span><span class="u">t</span><span class="p">o</span><span class="e">r</span>
      </span>
    </div>
    <div class="content">
      <h1>LOGIN</h1>
      <form>
        <label>Username:
          <input type="email" placeholder="email@example.com">
        </label>
        <label>Password:
          <input type="password" placeholder="************">
        </label>
        
      </form>
      
        <a href="/office"><button type="submit">Submit</button></a>
    </div>
  </div>
</body>
</html>